#title{
    margin-bottom: 40px;
}

.viewresult::before{
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(2px);
    z-index: -1;
    filter:  invert() brightness(0.3) grayscale() !important;
    background-image: url('../../public/images/crime/handcuffs2.jpg');
}

.card-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    /* padding: 10px;
    margin: 10px; */
    /* margin-right: 20px; */
    width: 100%;
    
}

.cards{
    width: auto;
    height: auto;
    margin: 10px;
    /* border: 1px solid black; */
    border-radius: 10px;
    overflow: hidden;
}

.card-body{
    position: relative;
}

.card-title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ede4e4;
    backdrop-filter: blur(10px);
}

.cards img{
    width: -webkit-fill-available;
    transition: 0.5s all ease-in-out; 

}

.cards:hover{
    transform: scale(1.1) translate(0px, -10px);
    /* transition: ease-out 0.5s; */
    /* transition: transform 1s; */

}

.cards:hover img{
    transform: scale(1.5);
}


.pie canvas{
    height: 500px !important;
    width: 500px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    margin: 20px;
}


.pieandcard{
    display: flex;
    flex-direction: row;
    
}