.viewcategory::before{
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    background-size: cover;
    background-position: center;
    background-repeat: repeat-y;
    filter: blur(2px);
    z-index: -1;
    filter:  brightness(0.3)  !important;

    background-image: url('../../public/images/crime/hands.jpg');

}

.viewcategory{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    /* align-items: center;
    align-content: center; */
    margin: 0 auto;
    width: 100%;
    height: 100%;
    padding: 0;
}

.category-heading{
    font-size: 30px;
    font-weight: bold;
    /* text-align: center; */
    margin: 30px;
    /* padding: 30px; */
    color: rgb(227, 141, 180);
    text-transform: capitalize;
    
}

#priority-heading{
    font-size: 30px;
    margin: 30px ;
    /* text-align: center; */
    font-weight: bold;
    color: rgb(227, 141, 180);
    font-family: 'Montserrat', sans-serif;
    text-transform: capitalize;
}

small{
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    margin: 0 auto;
    padding: 0;
    color: #9b7272;
}

.complaints::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(2px);
    z-index: -1;
    filter:  invert() brightness(0.3) grayscale() !important;

    background-image: url('../../public/images/crime/handcuffs.jpg');
}


.complaints{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
    /* width: 100%; */
    height: 100%;
    padding: 0 40px;
    color: #9b7272;
    font-size: 20px;
    font-weight: bold;

}


.complaint{
    padding: 5px 20px;
    text-align: left;
    color: #9b7272;
    font-size: 20px;
    font-weight: bold;
}


table{
    border-collapse: collapse;
    /* width: 100%; */
    text-align: left;
    margin: 0px 30px;
    padding: 20px;
    margin-bottom: 40px;
}
th{
    background-color: #655e5e;
    color: white;
    padding: 10px;
    text-align: left;
    border: 1px solid #080808;
}
tr{
    border-bottom: 1px solid #dddddd;
}

td{
    padding: 10px;
}

.downloadbutton{
    margin-bottom: 50px;
    align-self: center;
    width: auto;
    padding: 10px 30px;
    border-radius: 20px;
    font-size: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    /* change case to sentence case */
    /* text-transform: capitalize; */

}


.no-complaints{
    font-size: 50px;
    font-style: oblique;
    text-align: center;
    padding: 100px;
    /* margin: auto; */
    font-family: 'Roboto', sans-serif;
    
}



.priority-checkbox{
    height: 15px;
    width: 15px;
    margin: 0 10px;
    cursor: pointer;
    color: #705b5b;
}

.delete-icon{
    color: #9b7272;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    /* change case to sentence case */
    /* text-transform: capitalize; */
}

.delete-icon:hover{
    color: #c46464;
}

.no-border{
    border-style : hidden!important;
}


.prioritycomplaints{
    color: burlywood;
}

th{
    color: black;
}

.prioritydownload{
    margin-bottom: 100px;
  
}


select{
    width: auto;
    height: 25px;
    /* border-radius: 5px; */
    height: 30px;
    padding: 5px;
    margin: 10px 0;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    background-color: #3f3b3b;
    color: #c46464;
    margin-left: 10px;
    
}

select:hover{
    background-color: whitesmoke;
    color: #c46464;
}


#filter label{
    font-size: 15px;
    font-weight: bold;
    color: #c46464;
 
}

#filter{
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


.scroll-to-top-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgb(102, 91, 91);
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 80px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

  }
  

  .scroll-to-top-button.visible {
    opacity: 1;
  }
  
  .scroll-to-top-button:hover {
    background-color: #afabab;
    }


    .scroll-to-top-button svg {
     width: 24px;
      height: 24px; 
      margin: 4px; 
      /* reduce thickness of arrow */
        stroke-width: 1px;
    }


@media (max-width: 690px) {
    #filter label, #filter select, table{
        font-size: 12px !important;
    }
}

@media (max-width: 570px) {
    #filter label,#filter select, table{
        font-size: 10px !important;
    }
}

@media (max-width: 480px) {
    #filter label,#filter select, table{
        font-size: 8px !important;
    }
}
@media (max-width: 480px) {
    #phone{
        display: none;
    }
}